<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Flowbite -->
    <link href="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.css" rel="stylesheet" />

    <title>Notes App</title>
</head>

<body class="bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900 text-white min-h-screen">

    <script src="https://cdn.jsdelivr.net/npm/flowbite@4.0.1/dist/flowbite.min.js"></script>

    <!-- Navbar -->
        <nav class="flex justify-between items-center px-8 py-4 bg-gray-900 shadow-lg">
        <div class="flex gap-4">
            <a href="/" class="hover:text-blue-400">Home</a>
            <a href="{{url_for('login')}}" class="hover:text-blue-400">Login</a>
            <a href="/register" class="hover:text-blue-400">Sign Up</a>
            
        </div>
    </nav>
    <div class="text-center py-6 text-3xl font-bold tracking-wide">
        📝 My Notes
        
    </div>

    <div class="max-w-6xl mx-auto px-4">
        {% block body %}
        {% endblock %}
    </div>

</body>
</html>